/* google font word sans */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap');


/* default css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 70%;
    margin: 0 auto;
}

.d-flex{
    display: flex;
}

.jus-con-center{
    justify-content: center;
}

.jus-con-space-between{
    justify-content: space-between;
}

.ali-item-center {
    align-items: center;
}

body {
    font-family: 'Work Sans', sans-serif;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

h2,h3,h4 {
    color: #0B0223;
    text-align: right;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

p {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.pinmary-btn {
    padding: 20px 40px;
    border-radius: 48px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    border: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

/* header and nave css */

header {
    background-color: #fff;
}

.nav-section {
    padding: 40px 0;
}

.nav-section span {
    text-transform: capitalize;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.site-icon {
    gap: 20px;
}

.nav-menu ul {
    gap: 30px
}

.nav-menu ul li {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.nave-socil-button {
    width: fit-content;
    padding: 18px 25px;
    cursor: pointer;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    border: none;
    font-size: 18px;
    gap: 25px;
} 

.nave-socil-button i {
    font-size: 25px;
}

.nave-socil-button i:first-child {
    color: #F61C0D;
}


.nav-menu ul li a {
    color: #3C354F;

}

/* nave section style */
.secend-btn {
    background: #4EC5F7;
}

.banner-information h2, h3 {
    text-align: left;
}

.banner-information h2 {
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-information h3 {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
}

.banner-information p {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    text-transform: lowercase;
    padding: 10px 0;
    
}

.banner-information p i {
    color: #FF42A5;
    font-size: 1rem;
}

.custom-icon i {
    border: 2px solid #0B0223;
    border-radius: 50%;
    padding: 5px;

}

.banner-item i {
    color: #0B0223 !important;
}


.banner-information button {
    margin: 15px 25px 0 0;
}

.banner-img img {
    width: 100%;
}

