/* mobile view style  */
@media screen and (max-width: 640px) {
    /* default css  */
    .container{
        max-width: 620px;
        margin: 0 auto;
        padding: 1rem;
    }

    h2, h3, p {
        text-align: center;
    }

    .main-mobile-margin {
        margin: 2rem 0.625rem;
    }
     
    .flex-dir-col {
          flex-direction: column
    }
    .flex-dir-col-rev {
        flex-direction: column-reverse;
    }

    /* nave section for mobile view */
    
    .site-icon {
        margin-bottom: 1rem;
    }


    .banner-section {
        flex-direction: column-reverse;
    }

    .banner-information button {
        margin: 0;
    }

    .banner-information {
        padding: 3rem;
    }

    .hero-section div {
        width: 100%;
    }

    .hero-information-sectio {
        text-align: center;   
    }

    .hero-information-sectio p {
        margin: auto;
    }

    .hero-information-sectio h3 {
        text-align: center;
    }

    .our-product.d-flex.ali-item-center.main-margin {
        margin-bottom: -20px;
    }

    .products {
        display: block;
    }

    .ad-product-container {
    
        justify-content: center;
        padding:0;
    }

    .ad-description-section {
        width: 100%;
        
    }

    .ad-description-section p {
        padding: 20px 0;
    }
    
    .ad-image {
        width: 100%;
        padding: 0 59px;
    }
    .ad-image div {
        margin: 0 auto;
    }

    .ad-image div img {
        width: 350px;
        text-align: center;
    }

    .ad-image div img:last-child {
        width: 150px;
        position: absolute;
        bottom: -70px;
        left: -70px;
    }
    

    .position-change {
        flex-direction: column;
    }

    .ad-image-poiton div img {
        width: 350px;

    }
    .ad-image-poiton div img:last-child {
        width: 150px;
        position: absolute;
        right: -70px;
        bottom: -70px;
    }

    .care-section-info {
        padding: 25px 45px;
        margin: 30px 0;
        
    }

    .care-section-info p {
        text-align: left;
        line-height: 25px;
        margin: 20px 0;

    }

    .care-section-info table tr td {
      
        font-size: 18px;
        font-weight: 400;
        line-height: 20px;
        
    }

    .care-section-img img {
        width: 100%;
    }

    .service-section {
        display: grid;
        grid-template-columns: repeat(3, 150px);
        justify-items: center;
        align-items: center;
        gap: 5px;        
     }

     .service-section div {

        gap: 0;
        padding: 0;
    }

     .service-section div h3 {
        color: #0B0223;
        font-size: 18px;
        font-weight: 500;
    }

    .service-section div img {
        width: 30px;
    }

    /* footer section  */

    
    .footer-container {
        padding: 5rem 0;
    }
    .footer-container ul {
        padding-bottom: 25px;
        gap: 30px;
    }
    
    
    .footer-menu ul {
        display: grid;
        grid-template-columns: repeat(3, 150px);
        grid-template-rows: repeat(2, 40px);
        justify-items: center;
        align-items: center;
        gap: 0;

    }

    .footer-social-icon ul {
        display: grid;
        grid-template-columns: repeat(3, 150px);
        grid-template-rows: repeat(2, 50px);
        justify-items: center;
        align-items: center;
        grid-template-rows: 10px;

    }

    .footer-site-policy ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 50px);
        justify-items: center;
        align-items: center;
        grid-template-rows: 0px;

    }














}

/* table view style */

@media screen and (min-width: 640px) and (max-width: 1024px ) {

    .container {
        max-width: 980px;
        margin: 0 auto;
        padding: 0 2rem;
    }


    /* tabe css  */
    .products.d-flex.jus-con-center.ali-item-center {
        flex-wrap: wrap;
    }

    .ad-product-container.main-margin.d-flex.flex-dir-col.jus-con-space-between.ali-item-center {flex-direction: column;}

    .ad-description-section {
        width: 80vw;
        text-align: center;
    }

    .ad-image {
        width: 45vw;
    }

    .ad-description-section h2 {
        text-align: center;
    }

    nav.nav-section.container.main-mobile-margin.d-flex.flex-dir-col.jus-con-space-between.ali-item-center {
        padding: 30px 0;
    }

    .care-container.d-flex.flex-dir-col.jus-con-space-between.ali-item-center {
        padding: 50px 0;
    }

    .care-section-info {
        padding: 30px 0 30px 50px;
    }

    .footer-container {
        padding: 5rem 0;
    }
    .footer-container ul {
        padding-bottom: 25px;
        gap: 30px;
    }
    
    
    .footer-menu ul {
        display: grid;
        grid-template-columns: repeat(3, 150px);
        grid-template-rows: repeat(2, 40px);
        justify-items: center;
        align-items: center;
        gap: 0;

    }

    .footer-social-icon ul {
        display: grid;
        grid-template-columns: repeat(3, 150px);
        grid-template-rows: repeat(2, 50px);
        justify-items: center;
        align-items: center;
        grid-template-rows: 10px;

    }

    .footer-site-policy ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 50px);
        grid-template-rows: 0px;
        align-content: center;
        justify-content: space-evenly;
        align-items: baseline;
        margin: 0 255px;
        justify-items: center;
    }

}


@media screen and (min-width: 1024px) and (max-width: 1280px ) {
    .container {
        max-width: 1140px;
        margin: 0 auto;
        padding: 0 3rem;
    }


    /* tabe css  */
    .products.d-flex.jus-con-center.ali-item-center {
        flex-wrap: wrap;
    }

    nav.nav-section.container.main-mobile-margin.d-flex.flex-dir-col.jus-con-space-between.ali-item-center {
        padding: 50px 0;
    }

    .ad-image {
        width: 40vw;
    }

    .care-container.d-flex.flex-dir-col.jus-con-space-between.ali-item-center {
        padding: 70px 0;
    }

    .care-section-info {
        padding: 30px 0 30px 70px;
    }

}